{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySongProfileApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'SongProfileApp/css/estilo.css' %}">
</head>

<body>
    <header>
        <h1>MySongProfileApp</h1>
    </header>

    {% if reset_pending and not app_user %}
        <p>Solicitacao de troca de senha identificada. Clique em Login para continuar.</p>
    {% endif %}

    <div>
        <!--
        Para teste
        <p>Username: {{ app_user.username }}</p>
        <p>Password: {{ app_user.senha }}</p>
        -->

    </div>

    <nav id="leftbar">
        <ul>
            
            <li><a class="btn btn-primary" href="">Home</a></li>
            <li><a class="btn btn-primary" href="{% url 'perfil' %}">Perfil</a></li>
            <li><a class="btn btn-primary" href="{% url 'configuracao' %}">Configurações</a></li>
            <li class="login-component">
                {% if not app_user %}
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </li>
        </ul>

    </nav>


</body>

</html>