{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySongProfileApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'SongProfileApp/css/estilo.css' %}">
</head>



<body>
    <div class="login-container">
        <div class="login-box">
            <h1>MySongProfileApp</h1>
            <h2>Login</h2>
            <form method="post" action="{% url 'loginsucesso' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"  required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <a href="{% url 'cadastrousuario' %}">Não possui cadastro? Clique aqui</a>
                <a href="{% url 'esquecisenha' %}">Esqueceu a senha?</a>
                <button type="submit">Login</button>
            </form>     
        </div>
    </div>

    {% if error %}
        <div class="message-toast" role="alert" aria-live="assertive">
            {{ error }}
        </div>
    {% endif %}
    


</body>

</html>