{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySongProfileApp</title>
    <link rel="stylesheet" href="{% static 'SongProfileApp/css/estilo.css' %}">
</head>



<body>
    <div class="login-container">
        <div class="login-box">
            <h1>MySongProfileApp</h1>
            <h2>Login</h2>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="post" action="{% url 'loginsucesso' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"  required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <a href="{% url 'cadastrousuario' %}">Não possui cadastro? Clique aqui</a>
                <button type="submit">Login</button>
            </form>     
        </div>
    </div>
    


</body>

</html>